@model IsDomasna.Models.CinemaUser  // Update with the appropriate namespace for your CinemaUser model

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
}

<p>
    Don't have an account? <a href="@Url.Action("Register", "Account")">Register</a>
</p>
